<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Django</title>
    <style>
        /* Establecer un fondo azul para el cuerpo de la página */
        body {
            background-color: blue;
        }

        /* Estilo para el texto dentro del cuerpo */
        h1, p {
            color: white; /* Color del texto en blanco para que sea legible en fondo azul */
        }
    </style>
</head>
<body>
    <h1>Hola mundo Django </h1>
    <p>Trabajo hecho en clase por jhonatan torres y mateo prieto</p>
</body>
</html> 